.full-width {
  width: 100%;
}

.location-row {
  display: flex;
  gap: 16px;

  .full-width {
    flex: 1;
  }
}

@media (max-width: 640px) {
  .location-row {
    flex-direction: column;
    gap: 8px;
  }
}
