.contributor-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 320px;
}

.full-width {
  width: 100%;
}

.form-row {
  display: flex;
  gap: 8px;
  align-items: flex-start;

  .full-width {
    flex: 1;
  }

  button {
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
  }
}

.avatar-preview {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}
